@import '../../_colors.scss';
$bg-img: url('../../assets/cover-cinema.jpg');

.search-container {
  width: 80%;
  margin: auto;
  color: white;
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  background: $bg-img no-repeat center;
  align-items: center;
  background-size: cover;
}

.search-container > h1 {
  font-size: 50px;
}

.search-container > h2 {
  font-weight: 300;
  margin-top: 0px;
  padding-bottom: 25px;
}

.search-input {
  background-color: $search-input-color;
  width: 40%;
  display: flex;
  justify-content: space-between;
  border-radius: 60px;
}

.search-input > input {
  background-color: $search-input-color;
  border: none;
  padding-left: 10px;
  border-radius: 15px 0px 0px 15px;
  font-size: medium;
  outline: none;
  width: 70%;
}

.search-input > button {
  background-color: $search-button-color;
  color: white;
  font-weight: 800;
  font-size: medium;
  border: none;
  border-radius: 60px;
  padding: 10px 15px;
  width: 30%;
}

@media only screen and (max-width: 800px) {
  .search-container {
    width: 84.5%;
  }

  .search-input {
    width: 100%;
  }

  .search-input > button {
    width: 40%;
  }
}
