$navbar-color: rgb(3, 37, 65);
$navbar-text-color: rgb(255, 255, 255);
$navbar-text-color-hover: rgb(179, 179, 179);

$movie-page-container-color: rgba(
  $color: #131212,
  $alpha: 0.8,
);

$search-input-color: rgb(255, 255, 255);
$search-button-color: rgb(30, 213, 169);

$paginator-item-hover-color: rgb(188, 193, 196);
$paginator-active-item-color: rgb(24, 150, 233);
$paginator-item-border-color: rgb(187, 182, 182);

$background-color: rgb(255, 255, 255);
$movie-card-color: rgb(255, 255, 255);
